@import url("./fonts.css");

:root {
  --accent-blue-color: #3077c6;
  --general-blue-color: #10367c;
  --accent-yellow-color: #f5bd41;
  --dark-mode-1-color: #121212;
  --dark-mode-2-color: #1d1e1f;
  --dark-mode-3-color: #4d4d4d;
  --stroke-color: #f3f3f4;
  --text-main-color: #383838;
  --general-white-color: #ffffff;
  --secondary-text-color: #bfbfbf;
  --bg-main-color: #eaf0f9;

  --col-width: calc(100% / 12);
  --max-width: 1232px;
  --padding-main: 104px;
  --unit: 16px;
  --block-space: 120px;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: calc(var(--max-width) + var(--padding-main) * 2);
  padding: 0 var(--padding-main);
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: calc(var(--col-width) * 3);
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: calc(var(--col-width) * 9);
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: 100%;
}

[class*="col-"] {
  padding-left: calc(var(--unit) / 2);
  padding-right: calc(var(--unit) / 2);
}

.header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #000c40;
  background-size: cover;
  padding: 50px 0 3px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo svg {
  width: 205px;
  height: 40px;
  color: var(--accent-blue-color);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav__nav-links {
  display: flex;
  gap: 24px;
}

.nav-links__item {
  position: relative;
  display: flex;
}

.nav-links__item:hover:after {
  content: " ";
  position: absolute;
  border: 2px solid var(--accent-yellow-color);
  width: 85%;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  animation: underline-link 250ms;
}

@keyframes underline-link {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

.nav-links__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--general-white-color);
}

.nav-links__link:hover {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.nav__nav-button {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-button__button {
  border: none;
  background-color: transparent;
}

.button__svg--theme {
  color: var(--general-white-color);
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.button__svg--theme:hover {
  color: var(--accent-yellow-color);
  cursor: pointer;
}

.button__svg--account {
  color: var(--general-white-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.button__svg--account:hover {
  color: var(--accent-yellow-color);
  cursor: pointer;
}

.nav-button__item--burger {
  display: none;
}

.top-section {
  padding-top: 290px;
  background: url("../images/top-section.jpg") center;
  min-height: 100vh;
  background-size: cover;
  padding-bottom: var(--block-space);
}

.top-section__title {
  max-width: 542px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: var(--general-white-color);
  margin-bottom: 145px;
}

.form-mobile {
  display: none;
}

.top-section__form-search {
  display: flex;
  flex-wrap: wrap;
  background: var(--general-white-color);
  border-radius: 8px;
  margin-bottom: 120px;
}

.form__input {
  position: relative;
}

.form__destination {
  position: relative;
  flex: 1 0 36%;
  /*width: 100%;*/
  /*max-width: 467px;*/
}

.form__dates {
  flex: 1 0 19%;
  /*width: 100%;*/
  /*max-width: 259px;*/
}

.form__param {
  flex: 1 0 24%;
  /*width: 100%;*/
  /*max-width: 314px;*/
}

.label {
  color: var(--general-white-color);
  position: absolute;
  top: -45px;
  left: 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-main-color);
  padding: 20px 23px;
  width: 100%;
  border: none;
  border-radius: 8px;
}

input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--text-main-color);
}

.input:hover {
  outline: 3px solid var(--accent-yellow-color);
  outline-offset: -3px;
}
.input:focus {
  outline: 3px solid var(--accent-yellow-color);
  outline-offset: -3px;
}

.form__button {
  cursor: pointer;
  background: var(--accent-blue-color);
  flex: 1 0 13%;
  /*width: 100%;*/
  /*max-width: 192px;*/
  border: none;
  border-radius: 8px;
  color: var(--general-white-color);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.form__button:hover {
  opacity: 0.9;
}

.top-section__download {
  display: flex;
  justify-content: center;
  gap: var(--unit);
  /*margin-bottom: 120px;*/
}

.advantages {
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}
.advantages__title {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 104px;
  position: relative;
}

.advantages__title::after {
  content: " ";
  position: absolute;
  width: 100px;
  border: 2px solid var(--accent-yellow-color);
  left: 50%;
  bottom: -23px;
  transform: translateX(-50%);
}

.advantages__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.advantages__icon {
  color: var(--accent-blue-color);
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
  margin-bottom: 45px;
  object-fit: contain;
}

.advantages__text {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-main-color);
}

.homes {
  background-color: var(--bg-main-color);
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}

.homes__title {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 105px;
}

.homes__cards {
  position: relative;
}

.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.arrow-block {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--stroke-color);
  padding: 11px;
}

.homes__arrow-block {
  top: 30%;
  right: -1%;
  transform: translate(0, 0);
  box-shadow: 0 4px 4px 0 var(--dark-mode-3-color);
}

.arrow {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 7px;
  height: 18px;
}

.homes__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.homes__img {
  /*max-width: 296px;*/
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 24px;
}

.homes__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--accent-blue-color);
  text-decoration: none;
  margin-bottom: 24px;
}

.homes__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary-text-color);
}

.destination {
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}

.destination__title {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 105px;
}

.destination__menu {
  display: flex;
  background-color: var(--stroke-color);
  width: 100%;
  max-width: 623px;
  margin-bottom: 65px;
  border-radius: 8px;
}

.destination__btn {
  font-weight: 400;
  font-size: 24px;

  padding: 17px 25px;
  border-radius: 8px;
  /*width: 33.3333%;*/
  max-width: 192px;
  width: 100%;
}

.destination__btn:last-child {
  /*text-align: center;*/
  /*font-weight: 400;*/
  font-size: 24px;
  max-width: 238px;
}

.destination__btn:hover {
  background-color: var(--accent-blue-color);
  color: var(--general-white-color);
}

.destination__cards {
  padding-bottom: 88px;
  position: relative;
}

.destination__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.destination__img {
  /*max-width: 296px;*/
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 24px;
}

.destination__card:hover img {
  filter: brightness(60%);
  background: rgba(56, 56, 56, 0.4);
}

.destination__button-img {
  display: none;
  font-weight: 400;
  font-size: 18px;

  padding: 13px 24px;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--general-white-color);
  border: 1px solid var(--accent-blue-color);
  border-radius: 8px;
  color: var(--accent-blue-color);
}

.destination__card:hover button {
  display: block;
}

.destination__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--accent-blue-color);
  text-decoration: none;
}

.destination__arrow-block {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(90deg);
  box-shadow: 4px 0 4px 0 var(--dark-mode-3-color);
}


.sign-up {
  background-color: var(--bg-main-color);
}

.sign-up__wrapper {
  padding: 50px 24px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}

.close {
  position: absolute;
  top: 23px;
  right: 24px;
  width: 26px;
  height: 26px;
}

.sign-up__user-logo {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: var(--general-white-color);
  position: relative;
}

.user-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 44px;
  color: var(--accent-blue-color);
}

.sign-up__logo {
  display: none;
}

.sign-up__autoriz {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.sign-up__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

._displ-none--title {
  display: none;
}

.sign-up__button {
  font-size: 18px;
  line-height: 21px;
  padding: 13px 24px;
  max-width: 128px;
  background: var(--general-white-color);
  border: 1px solid var(--accent-blue-color);
  border-radius: 8px;
  color: var(--accent-blue-color);
}

.sign-up__link {
  display: none;
}


.reviews {
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}

.reviews__wrap-cards {
  position: relative;
}

.review__card {
}

.review__wrap {
}

._displ-none__desktop {
  display: none;
}

.reviews__title {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 105px;
}

.review__wrap-img {
  position: relative;
}

.review__img {
  display: block;
  max-width: 400px;
  width: 100%;
  aspect-ratio: 1/1;
}

.review__price {
  position: absolute;
  background-color: rgba(56, 56, 56, 0.7);
  color: var(--general-white-color);
  padding: 16px 24px 11px;
  width: 100%;
  top: 100%;
  transform: translateY(-100%);
  font-size: 18px;
  line-height: 21px;
}

.review__wrap-content {
  background-color: var(--bg-main-color);
  padding: 24px;
}

.review__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.review__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review__link {
  color: var(--accent-blue-color);
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.review__link--main {
  font-weight: 500;
}

.review__rating {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

.review__grade {
  padding: 4px 11px;
  background-color: var(--general-blue-color);
  color: var(--general-white-color);
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.review__score {
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);
}

.review__content {
  display: flex;
  flex-direction: column;
}

.review__user {
  display: flex;
  gap: 21px;
  margin-bottom: 22px;
}

.user__icon {
  margin-left: 5px;
  width: 53px;
  height: 53px;
  color: var(--secondary-text-color);
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user__name {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-main-color);
}

.country__name {
  font-size: 18px;
  line-height: 21px;
  color: var(--secondary-text-color);
}

.review__description {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-main-color);
}

.reviews__arrow-block {
  top: 30%;
  right: -1%;
  transform: translate(0, -100%);
  box-shadow: 0 4px 4px 0 var(--dark-mode-3-color);
}

.review__carousel{
  display: none;
}


.footer {
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
  background-color: var(--general-blue-color);
  color: var(--general-white-color);
}

.footer__logo {
  display: none;
  text-align: center;
}

.footer__logo svg {
  color: var(--general-white-color);
  width: 98px;
  height: 19px;
  text-align: center;
}

.footer__list {
  margin-bottom: 40px;
}

.footer__element {
  /*border: 1px solid white;*/
}

.footer__title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.footer__item {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.footer__link {
  color: var(--general-white-color);
  text-decoration: none;
  cursor: pointer;
}

.footer__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 1024px) {
  /*For tablets:*/

  :root {
    --padding-main: 52px;
    --block-space: 60px;
  }

  .row {
    margin-bottom: var(--unit);
    row-gap: 20px;
  }

  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  .header {
    padding: 20px 0 3px;
  }

  .header__logo svg {
    width: 170px;
    height: 33px;
  }

  .nav__nav-links {
    display: none;
  }

  .button__svg--theme {
    width: 25px;
    height: 25px;
  }

  .button__svg--account {
    width: 35px;
    height: 35px;
  }

  .nav-button__item--burger {
    display: block;
  }

  .button__svg--burger {
    color: var(--general-white-color);
    cursor: pointer;
    width: 35px;
    height: 25px;
  }

  .button__svg--burger:hover {
    color: var(--accent-yellow-color);
    cursor: pointer;
  }

  .top-section {
    padding-top: 150px;
  }

  .top-section__title {
    font-size: 40px;
    margin-bottom: 100px;
  }

  .top-section__form-search {
    display: none;
  }

  .form-mobile {
    display: block;
    padding: 10px;
    margin: 0 auto var(--block-space);
    width: 100%;
    background-color: var(--accent-yellow-color);
  }

  .form-mb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
  }

  .form__input-mb {
    position: relative;
  }

  .form__input-mb.form__params-mb {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .label-mb {
    color: var(--dark-mode-1-color);
    position: absolute;
    top: 15px;
    left: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  .input-mb {
    width: 100%;
    height: 48px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--text-main-color);
    padding: 24px 8px 6px;
    border: none;
    border-radius: 4px;
    text-align: left;
  }

  .input-mb:hover {
    outline: 2px solid var(--accent-blue-color);
    outline-offset: -2px;
  }
  .input-mb:focus {
    outline: 2px solid var(--accent-blue-color);
    outline-offset: -2px;
  }

  .form__destination-mb {
    width: 100%;
    grid-row: 1/1;
    grid-column: 1/3;
  }

  .label-mb--destination {
    color: var(--dark-mode-1-color);
    position: absolute;
    top: 15px;
    left: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  .input--destination-mb {
    width: 100%;
    padding: 15px 8px 15px 36px;
  }

  .input--destination-mb:focus ~ label,
  .input--destination-mb:not(:focus):valid ~ label {
    display: none;
  }

  .lupa {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 16px;
    height: 16px;
    color: var(--secondary-text-color);
  }

  .form__checkIn-mb {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .input--checkIn-mb {
    width: 100%;
  }

  .form__checkOut-mb {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .input--checkOut-mb {
    width: 100%;
  }

  .input--checkIn-mb:focus ~ label,
  .input--checkIn-mb:not(:focus):valid ~ label,
  .input--checkOut-mb:focus ~ label,
  .input--checkOut-mb:not(:focus):valid ~ label {
    top: 4px;
    left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    transition: 0.25s;
  }

  .form__params-mb {
    background-color: var(--general-white-color);
    border-radius: 4px;
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .form__children-mb:after,
  .form__adults-mb:after {
    content: "";
    position: absolute;
    left: 98%;
    top: 8px;
    height: 32px;
    border-right: 1px solid var(--secondary-text-color);
  }

  .input--adults-mb:focus ~ label,
  .input--adults-mb:not(:focus):valid ~ label,
  .input--children-mb:focus ~ label,
  .input--children-mb:not(:focus):valid ~ label,
  .input--rooms-mb:focus ~ label,
  .input--rooms-mb:not(:focus):valid ~ label {
    top: 4px;
    left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    transition: 0.25s;
  }

  .form__button-mb {
    grid-row: 4;
    grid-column: 1/3;
    cursor: pointer;
    background: var(--accent-blue-color);
    border: none;
    border-radius: 4px;
    color: var(--general-white-color);
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 19px;
    line-height: 22px;
  }
  .form__button-mb:hover {
    opacity: 0.9;
  }

  .advantages {
    padding-top: var(--block-space);
    padding-bottom: var(--block-space);
  }

  .advantages__title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 60px;
  }

  .advantages__title:after {
    display: none;
  }

  .advantages__card {
    margin-bottom: 32px;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 20px;
  }

  .homes {
    background-color: var(--bg-main-color);
    padding-top: var(--block-space);
    padding-bottom: var(--block-space);
  }

  .homes__title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 60px;
  }

  ._displ-none {
    display: none;
  }

  .arrow-block {
    width: 35px;
    height: 35px;
    padding: 10px;
  }

  .homes__arrow-block {
    top: 30%;
    right: -1%;
    transform: translate(0, 0);
    box-shadow: 0 4px 4px 0 var(--dark-mode-3-color);
  }

  .arrow {
    margin: 0 auto;
    width: 5px;
    height: 15px;
  }

  .homes__card {
    justify-content: center;
  }

  .homes__img {
    margin-bottom: 12px;
  }

  .homes__link {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .homes__text {
    font-size: 18px;
    line-height: 20px;
  }

  .destination {
    padding-top: var(--block-space);
    padding-bottom: var(--block-space);
  }

  .destination__title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
  }

  .destination__menu {
    background-color: var(--general-white-color);
    max-width: 100%;
    margin-bottom: 35px;
    border-radius: 8px;
    justify-content: space-around;
  }

  .destination__btn {
    font-size: 18px;
    line-height: 20px;
    border: 1px solid #f3f3f4;
    padding: 10px 0;
    border-radius: 8px;
    width: 33.3333%;
    max-width: 190px;
  }

  .destination__btn:last-child {
    font-size: 18px;
    line-height: 20px;
    width: 33.3333%;
    max-width: 190px;
  }

  .destination__btn:hover {
    background-color: var(--accent-blue-color);
    color: var(--general-white-color);
  }

  .destination__cards {
    padding-bottom: 60px;
  }

  .destination__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
  }

  .destination__img {
    /*max-width: 296px;*/
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 24px;
  }

  .destination__card:hover img {
    filter: brightness(60%);
    background: rgba(56, 56, 56, 0.4);
  }

  .destination__button-img {
    display: none;
    font-weight: 400;
    font-size: 18px;

    padding: 13px 24px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--general-white-color);
    border: 1px solid var(--accent-blue-color);
    border-radius: 8px;
    color: var(--accent-blue-color);
  }

  .destination__card:hover button {
    display: block;
  }

  .destination__link {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .destination__arrow-block {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(90deg);
    box-shadow: 4px 0px 4px 0px var(--dark-mode-3-color);
  }


  .sign-up {
    background-color: var(--general-white-color);
  }

  .sign-up__wrapper {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .close {
    display: flex;
    position: static;
    width: 16px;
    height: 16px;
  }

  .sign-up__user-logo {
    display: none;
  }

  .sign-up__logo {
    display: block;
    flex-shrink: 0;
    width: 58px;
    height: 58px;
    border-radius: 4px;
    background-color: var(--accent-blue-color);
    position: relative;
  }

  .logo-sm {
    color: var(--general-white-color);
    width: 53px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sign-up__autoriz {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .sign-up__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  ._displ-none--title {
    display: inline;
  }

  .sign-up__button {
    display: none;
  }

  .sign-up__link {
    text-decoration: none;
    display: flex;
    margin: auto;
    color: var(--accent-blue-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }


  .reviews {
    padding-top: var(--block-space);
    padding-bottom: var(--block-space);
  }

  .reviews__wrap-cards {
    position: relative;
  }

  .review__card {
  }

  .review__wrap {
  }

  ._displ-none__desktop {
    display: block;
  }

  .reviews__title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
  }

  .review__wrap-img {
    position: relative;
  }

  .review__img {
    display: block;
    /*Что-то сделать с размером максимальным*/
    max-width: 1000px;
    width: 100%;
    aspect-ratio: 1/1;
  }

  .review__price {
    font-size: 16px;
    line-height: 18px;
  }

  .review__wrap-content {
    padding: 20px;
  }

  .review__title {
    margin-bottom: 25px;
  }

  .review__links {
    gap: 12px;
  }

  .review__link {
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
  }

  .review__link--main {
    font-weight: 500;
  }

  .review__rating {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
  }

  .review__grade {
    font-size: 15px;
    line-height: 18px;
  }

  .review__score {
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary-text-color);
  }

  .review__user {
    margin-bottom: 20px;
  }

  .user__icon {
    width: 47px;
    height: 47px;
  }

  .user__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .user__name {
    font-size: 15px;
    line-height: 18px;
  }

  .country__name {
    font-size: 15px;
    line-height: 18px;
  }

  .review__description {
    font-size: 15px;
    line-height: 18px;
  }


  .review__carousel {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .review__cirсle {
    width: 10px;
    height: 10px;
    border: 1px solid var(--text-main-color);
    border-radius: 50%;
    cursor: pointer;
  }

  .review__cirсle:active {
    background-color: red;
  }


  .footer__list {
    justify-content: center;
  }

  .footer__title {
    font-size: 16px;
    line-height: 20px;
  }

  .footer__item {
    font-size: 16px;
    line-height: 20px;
  }

  .footer__author {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  /*For mobile phones:*/

  :root {
    --col-width: calc(100% / 6);
    --padding-main: 16px;
    --block-space: 40px;
  }

  .row {
    justify-content: center;
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }

  .header {
    padding: 12px 0 3px;
  }

  .header__logo svg {
    width: 122px;
    height: 24px;
  }

  .button__svg--theme {
    width: 16px;
    height: 16px;
  }

  .button__svg--account {
    width: 24px;
    height: 24px;
  }

  .button__svg--burger {
    width: 24px;
    height: 16px;
  }

  .main{
    display: flex;
    flex-direction: column;
  }

  .top-section {
    padding-top: 87px;
  }

  .top-section__title {
    font-size: 30px;
  }

  .advantages {
    padding-top: calc(var(--block-space) - 16px);
    padding-bottom: var(--block-space);
  }

  .advantages__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 35px;
  }

  .advantages__title::after {
    display: none;
  }

  .advantages__card {
    margin-bottom: 32px;
  }

  .advantages__icon {
    width: 100%;
    max-width: 70px;
    aspect-ratio: 1/1;
    margin-bottom: 15px;
  }

  .advantages__text {
    font-size: 15px;
    line-height: 18px;
  }

  .homes__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 32px;
  }

  .arrow-block {
    width: 28px;
    height: 28px;
    padding: 7px;
  }

  .homes__arrow-block {
    top: 30%;
    right: -1%;
    transform: translate(0, 0);
    box-shadow: 0 4px 4px 0 var(--dark-mode-3-color);
  }

  .arrow {
    margin: 0 auto;
    width: 5px;
    height: 14px;
  }

  .homes__img {
    margin-bottom: 8px;
  }

  .homes__link {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
  }

  .homes__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .destination {
    padding-top: var(--block-space);
    padding-bottom: var(--block-space);
  }

  .destination__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 32px;
  }

  .destination__menu {
    background-color: var(--general-white-color);
    margin-bottom: 24px;
    border-radius: 4px;
    justify-content: space-between;
  }

  .destination__btn {
    font-size: 19px;
    line-height: 22px;
    border: 1px solid #f3f3f4;
    border-radius: 4px;
    padding: 5px 0;
    width: 33.3333%;
    max-width: 98px;
  }

  .destination__btn:last-child {
    font-size: 19px;
    line-height: 22px;
    max-width: 98px;
  }

  .destination__cards {
    padding-bottom: 0;
  }

  .destination__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
  }

  .destination__img {
    margin-bottom: 8px;
  }

  .destination__button-img {
    font-size: 10px;
    line-height: 12px;
    padding: 5px 15px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
  }

  .destination__link {
    font-size: 12px;
    line-height: 14px;
  }

  .destination__arrow-block {
    top: 55%;
    left: 90%;
    transform: translate(0, 0) rotate(00deg);
    box-shadow: 0px 4px 4px 0px var(--dark-mode-3-color);
  }


  .sign-up {
    order: 2;
    background-color: var(--general-white-color);
  }

  .sign-up__wrapper {
    padding: 25px 0;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .close {
    display: flex;
    position: static;
    width: 16px;
    height: 16px;
  }

  .sign-up__logo {
    width: 58px;
    height: 58px;
    border-radius: 4px;
    background-color: var(--accent-blue-color);
    position: relative;
  }

  .logo-sm {
    color: var(--general-white-color);
    width: 53px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sign-up__autoriz {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .sign-up__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  ._displ-none--title {
    display: inline;
  }

  .sign-up__button {
    display: none;
  }

  .sign-up__link {
    display: flex;
    margin: auto;
    color: var(--accent-blue-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }


  .reviews {
    order: 1;
    padding-top: var(--block-space);
    padding-bottom: var(--block-space);
    background-color: var(--bg-main-color);
  }

  .reviews__wrap-cards {
    position: relative;
  }

  .review__card {
  }

  .review__wrap {
  }

  ._displ-none__desktop {
    display: block;
  }

  .reviews__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 32px;
  }

  .review__wrap-img {
    position: relative;
  }

  .review__img {
    margin: auto;
    display: block;
    max-width: 400px;
    width: 100%;
    aspect-ratio: 1/1;
  }

  .review__price {
    display: none;
  }

  .review__wrap-content {
    padding: 12px 0;
  }

  .review__title {
    margin-bottom: 12px;
  }

  .review__links {
    gap: 8px;
  }

  .review__link {
    font-size: 15px;
    line-height: 15px;
  }

  .review__grade {
    padding: 3px 9px;
    font-size: 15px;
    line-height: 20px;
  }

  .review__score {
    font-size: 12px;
    line-height: 14px;
  }

  .review__user {
    gap: 12px;
    margin-bottom: 20px;
  }

  .user__icon {
    margin-left: 4px;
    width: 44px;
    height: 44px;
  }

  .user__info {
    gap: 4px;
  }

  .user__name {
    font-size: 15px;
    line-height: 18px;
  }

  .country__name {
    font-size: 15px;
    line-height: 18px;
  }

  .review__description {
    font-size: 15px;
    line-height: 18px;
    color: var(--text-main-color);
  }

  .review__cirсle {
    width: 8px;
    height: 8px;
  }


  .footer__logo {
    display: block;
    margin-bottom: 36px;
  }

  .footer__list {
    margin-bottom: 32px;
    justify-content: center;
  }

  .footer__title {
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    margin-bottom: 0;
  }

  .footer__items {
    display: none;
  }

  .footer__item {
    font-size: 16px;
    line-height: 20px;
  }

  .footer__author {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}